<html>
    <head>
        {% extends 'tamueats/base.html'%}
        {% load static %}
        {% load bootstrap4 %}

        {% block styles %}
        {% bootstrap_css %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/cart.css' %}">
        {% endblock %}
    </head>
    <body>
        {% block content %}
        <div class="menu">
            <h2 class="section__title mt-2">Cart</h2>
                <div class="row cart_header">
                    <div class="col-lg-12 pt-3">
                        <a href="{% url 'MenuPage' %}" class="btn btn-outline-dark">&#x2190; Continue Shopping</a>
                        <hr>

                        <table class="cart__table" style=" width: 100%;">
                            <tr>
                                <th>
                                    <h5>Items: <strong>{{ order.get_cart_items }}</strong></h5>
                                </th>
                                <th>
                                    <h5>Total: <strong>{{ order.get_cart_total|floatformat:2}}</strong></h5>
                                </th>
                                <th>
                                    <!-- checkout -->
                                    <a href="{% url 'checkout' %}" class="btn btn-success" style="float: right; margin: 5px;">Checkout</a>
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
                <br>
                <div class="row cart_header">
                    <div class="col-lg-12 pt-3">

                        <table class="cart__table" style=" width: 100%;">
                            <hr>
                            <tr>
                                <th>
                                    <h6>Image</h6>
                                </th>
                                <th>
                                    <h6><strong>Item</strong></h6>
                                </th>
                                <th>
                                    <h6>Price</h6>
                                </th>
                                <th>
                                    <h6>Quantity</h6>
                                </th>
                                <th>
                                    <h6><strong>Total</strong></h6>
                                </th>
                            </tr>
                            {% for item in items %}
                            <!-- {{ item.food_product.food_name }} -->
                            <tr class="border-top">
                                <td><img src="{{ item.food_product.food_image }}" alt="" style="width: 80px;"></td>
                                <td>{{ item.food_product.food_name }}</td>
                                <!-- item = food orderitem -->
                                <td>{{ item.unit_price|floatformat:2 }}</td>
                                <td class="quantity">
                                    <p>{{ item.quantity }}</p>
                                    <div>
                                        <img data-item="{{ item.food_product.id }}" data-action="add" class="change_quantity update-cart" src="{% static 'assets/arrow_up.png' %}" alt="">
                                        <img data-item="{{ item.food_product.id }}" data-action="remove" class="change_quantity update-cart" src="{% static 'assets/arrow_down.png' %}" alt="">
                                    </div>
                                </td>
                                <td>
                                    {{ item.get_total }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
        </div>
        {% endblock %}
    </body>
</html>