<html>
    <head>
        {% extends 'tamueats/base.html'%}
        {% load static %}
        {% load bootstrap4 %}

        {% block styles %}
        {% bootstrap_css %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/checkout.css' %}">
        {% endblock %}
    </head>
    <body>
        {% block content %}
        <div class="checkout">
            <h2 class="section__title mt-2">Checkout</h2>

            <div class="row">
                <div class="col-md-7 col-lg-7 pt-2 checkout_card">
                    <a href="{% url 'cart' %}" class="btn btn-outline-dark">&#x2190; Back to Cart</a>

                    <hr>

                    <h3 class="text-center">Order Summary</h>

                    <table class="cart__table" style=" width: 100%;">
                        <tr>
                            <th></th>
                            <th>Food</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Total</th>
                        </tr>
                        {% for item in items %}
                        <tr class="border-top">
                            <td><img src="{{ item.food_product.food_image}}" alt=""  style="width: 80px;"></td>
                            <td>{{ item.food_product.food_name }}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{ item.unit_price|floatformat:2 }}</td>
                            <td>{{ item.get_total }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <h6><strong>Grand Total: ksh {{ order.get_cart_total|floatformat:2}}</strong></h6>

                </div>

                <div class="col-md-4 col-lg-4 checkout_card">
                    <p>Delivery</p>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>