<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container container-fluid">
        <a class="navbar-brand" href="{% url 'HomePage'%}">Tamu Foods</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">          
            <li class="nav-item">
              <a class="nav-link" href="{% url 'MenuPage' %}">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ComingSoonPage' %}">Restaurants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'ComingSoonPage' %}">Contact Us</a>
              </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if user.is_customer %}
                  <a class="dropdown-item" href="{% url 'customer-profile' %}">Profile</a>
                {% elif user.is_vendor %}
                  <a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a>
                  <a class="dropdown-item" href="{% url 'vendor-profile' %}">Profile</a>
                {% endif %}
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </li>

            {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Register
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'SignUp' %}">Customer Account</a>
                <a class="dropdown-item" href="{% url 'Register' %}">Vendor/Merchant Account</a>
            </li>
          <!-- <li class="nav-item">
              <a class="nav-link" href="{% url 'SignUp' %}">Register</a>
          </li> -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'SignIn' %}">Login</a>
            </li>

            {% endif %}
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'ComingSoonPage' %}">Profile</a>
                      <a class="dropdown-item" href="{% url 'ComingSoonPage' %}">Logout</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Register
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'SignUp' %}">Customer Account</a>
                      <a class="dropdown-item" href="{% url 'Register' %}">Vendor/Merchant Account</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="{% url 'SignUp' %}">Register</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="{% url 'SignIn' %}">Login</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ComingSoonPage' %}">Cart</a>
                </li>
          </ul>
        </div>
    </div> 
  </nav>