.menu {
    grid-template-columns: repeat(2, 150px);
    column-gap: 3rem;
    justify-content: center;
}

.card {
    width: 20rem;
}

.card-title{
    font-size: var( --h3-font-size);
    font-weight: var(--font-semi-bold);
}

.card__action{
    display: flex;
    justify-content: space-between;
}

.add__to__cart-btn{
    border-radius: 1.4rem;
    color: var( --title-color);
}

.add__to__cart-btn:hover{
    background-color: var(--title-color);
    color: var(--container-color);
}

/* .card-text{
    color: red;
} */