<html>
    <head>
        {% extends 'tamueats/base.html'%}
        {% load static %}
        {% load bootstrap4 %}
        {% load crispy_forms_tags %}

        {% block styles %}
        {% bootstrap_css %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/customerDashboard.css' %}">
        {% endblock %}
    </head>
    <body>
        {% block content %}
        <div class="container container-fluid">
            {% if user.is_customer %}
            <div class="row mt-2">
                <div class="col-sm-12 col-md-12">
                    <div class="dashboard_toolbar card">
                        <h2 class="section__title">Customer Dashboard</h2>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            Orders
                          </div>
                          {% if orders.count == 0 %}
                            <div class="card">
                                <h4 class="text-center">You have no orders yet.</h4>
                                <div class="card-body">
                                    <p class="text-center">Click <a href="{% url 'MenuPage' %}">Menu</a> to view our catalogue.</p>
                                </div>
                            </div>
                          {% elif orders.count > 0 %}
                          <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="table__name text-center">Pending Orders</h4>

                                    <table class="table customer__dashboard-table">
                                        <thead>
                                            <tr class="table__name">
                                                <th scope="col">Order ID</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Payment</th>
                                                <th scope="col">Delivery</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for order in orders %}
                                            {% if order.payment_status == "P" %}
                                            <tr>
                                                <td>{{ order.id }}</td>
                                                <td>{{ order.placed_at }}</td>
                                                <td>{{ order.payment_status}}</td>
                                                <td>{{ order.delivery_status}}</td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </tbody>

                                    </table>
                                </div>

                                <div class="col-md-6">
                                    <h4 class="table__name text-center">Completed Orders</h4>
                                    <table class="table customer__dashboard-table">
                                        <thead>
                                            <tr class="table__name">
                                                <th scope="col">Order ID</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Payment</th>
                                                <th scope="col">Delivery</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for order in orders %}
                                            {% if order.payment_status == "C" %}
                                            <tr>
                                                <td>{{ order.id }}</td>
                                                <td>{{ order.placed_at }}</td>
                                                <td>{{ order.payment_status}}</td>
                                                <td>{{ order.delivery_status}}</td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                          {% endif %}

                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% endblock %}
    </body>
</html>