<html>
    <head>
        {% extends 'tamueats/base.html'%}
        {% load static %}
        {% load bootstrap4 %}
        {% load crispy_forms_tags %}

        {% block styles %}
        {% bootstrap_css %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/dashboard.css' %}">
        {% endblock %}
    </head>
    <body>
        {% block content %}
            {% if user.is_vendor %}
                <div class="row mt-2">
                    <div class="col-sm-12 col-md-12">
                        <div class="dashboard_toolbar card">
                            <h2 class="section-title">Vendor Dashboard</h2>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <div class="restaurant_card card">
                            <div class="card-body">
                                <h5 class="card-title">{{ user.vendor.company_name}}</h5>
                                <p>{{ user.vendor.company_description }}</p>
                            </div>
    
                            <div class="card-footer border-top">
                                <a href="#" class="btn">Manage your restaurant</a>
                                <a href="#" class="btn">View your Restaurant</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div class="activities card">
                            <div class="card-header">
                                Manage your activies
                              </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    Orders
                                </li>
                                <li class="list-group-item">
                                    Inventory
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% elif user.is_merchant %}
                <div class="row mt-2">
                    <div class="col-sm-12 col-md-12">
                        <div class="dashboard_toolbar card">
                            <h2 class="section-title">Merchant Dashboard</h2>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <div class="restaurant_card card">
                            <div class="card-body">
                                <h5 class="card-title">{{ user.merchant.merchant_name}}</h5>
                                <p>{{ user.merchant.merchant_description}}</p>
                            </div>
    
                            <!-- <div class="card-footer border-top">
                                <a href="#" class="btn">Manage your Business</a>
                                <a href="#" class="btn">View your Restaurant</a>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div class="activities card">
                            <div class="card-header">
                                Manage your activies
                              </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    View delivery list
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Not authorized</p>
            {% endif %}

        {% endblock %}
    </body>
</html>