.auth__page-section{
    padding: 3rem 0 2rem;
}

/* .auth__form{
    border: 1px solid red;
    width: 100%;
} */

.auth_legend{
    font-weight: var(--font-medium);
    font-size: var(--h2-font-size);
    color: var(--secondary-color-project);
}

.auth__form-btn {
    width: 100%;
    color: var(--secondary-color-project);
    background-color: none !important;
    outline: 1px solid var(--primary-color-project) !important;
    letter-spacing: 1px;
}

.logout__button-login{
    color: var(--secondary-color-project);
    background-color: none !important;
    outline: 1px solid var(--primary-color-project) !important;
    letter-spacing: 1px;  
}

/* .logout-btn{
    color: var(--secondary-color-project);
    background-color: none !important;
    outline: 1px solid var(--primary-color-project) !important;
    letter-spacing: 1px;  
} */

.auth_redirect{
    font-size: var(--smaller-font-size);
    font-style: oblique;
}


.customer{
    color: var(--primary-color-project);
}
.non-customer{
    color: var(--secondary-color-project);
}